@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.row{
  margin-top: 5%;
  margin-bottom: 5%;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
  color: #000000;
  font-size: 64px;
  font-family: 'Itim', cursive;
}


.box{
  width: 100%;
  overflow: none;
}


.content-name{
  position: relative;
  overflow: none;
  text-align: center;
  border: 1px solid black;
  width: 150px;
  height: 40px;
  padding: 5px;  
  float: right;
  margin-right: 45px;
  margin-top: 7px;
  font-weight: bold;
  border-radius: 30px;
  font-size: 45px;
}

.content{
  border: 1px solid black;
  width: 90%;
  height: 400px;
  margin: 2.5%;
  color: black;
  font-size: 16px;
  padding: 2%;
  padding-top: 55px;
  background-color: rgba(56, 14, 14, 0.3);
  font-family: 'Averia Sans Libre', cursive;
  font-size: 30px;
  border-radius: 30px;
}

.name1{
  background-color: #FFB6C1;
  font-size: 20px;
}

.name2{
  color: white;
  background-color: #D05865;
  font-size: 20px;
}
.name3{
  background-color: #FFFFC2;
  font-size: 20px;
}


/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
  	float: left;
    width: 33.33%;
  }
}
/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6,.col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    margin-left: -10px;
    width: 100%;
  }
  .name3{
    margin-right: 65px;
    width: 100px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .col-sm-12 {
  	float: left;
    width: 100%;
  }
  .content-name{
    margin-right: 30px;
  }
}
